// Team
.card-team {
    flex-direction: row;
    border-width: 0;
    border-radius: 1em;
    box-shadow: 0 3px 6px rgba($black, .15);
    overflow: hidden;
    height: 100%;

    .card {

        &-icon {
            background-color: rgba($primary, .15);
            color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.25em;
        }

        &-subtitle {
            color: $black;
        }

        &-title {
            color: $primary;
        }
    }
}

// Testimonail
.card-testimonail {
    border-width: 0;
    border-radius: 10px;
    box-shadow: $box-shadow;

    .card-img {
        border-radius: 10px;
    }
}

// Service
.card-service {
    border-radius: 10px;
    border-width: 0;
    background-color: rgba($primary, .15);
    box-shadow: $box-shadow-sm;
    text-align: center;
    @include transition($transition-base);

    &:hover {
        background-color: rgba($primary, .5);
        box-shadow: $box-shadow;
        @include transition($transition-base);

        .card-title {
            color: $white;
        }
    }

    .card {
        &-img {
            margin-bottom: 1rem;
            max-height: 150px;
        }
    }
}

// FAQ
.card-faq {
    border-width: 0;
    margin-bottom: 2px;

    .card {
        &-header {
            border-bottom-width: 0;
            margin-bottom: 0 !important;
            border-radius: 10px !important;

            &[aria-expanded="true"] {
                background-color: $primary;
                color: $white;
                font-weight: bold;
            }
        }

        &-body {
            margin: 0 1rem 1rem;
            background-color: $light;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: rgba($primary, .05);
        }
    }
}