header {
    .nav {
        &-link {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .dropdown {
        &-menu {
            border-width: 0;
            border-radius: 1em;
        }

        &-item {
            color: $primary;

            @include hover-focus {
                color: $primary;
                background-color: rgba($primary, .15);
            }
        }
    }

    .list-lang {
        .form-check {
            &-inline {
                margin-right: 0.5rem;

                &:last-child {
                    margin-right: 0;
                }
            }

            &-input {
                display: none;

                &:checked~.form-check-label {
                    opacity: 1;
                }
            }

            &-label {
                width: 1.25rem;
                height: 1.25rem;
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .dropdown {
            &-menu {
                box-shadow: $box-shadow;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .nav {
            &-link {
                text-align: center;
            }
        }

        .dropdown {
            &-menu {
                background-color: rgba($primary, .15);
            }

            &-item {
                text-align: center;
            }
        }
    }
}