header {
    .nav {
        &-link {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .dropdown {
        &-menu {
            border-width: 0;
            border-radius: 1em;
        }

        &-item {
            color: $primary;

            @include hover-focus {
                color: $primary;
                background-color: rgba($primary, .15);
            }
        }
    }

    .link-lang {
        img {
            width: 1.25rem;
            height: 1.25rem;
        }

        &.active {
            opacity: 0.5;
        }
    }

    @include media-breakpoint-up(lg) {
        .dropdown {
            &-menu {
                box-shadow: $box-shadow;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .nav {
            &-link {
                text-align: center;
            }
        }

        .dropdown {
            &-menu {
                background-color: rgba($primary, .15);
            }

            &-item {
                text-align: center;
            }
        }
    }
}