.table {

    thead {
        background-color: rgba($primary, .15);
        color: $primary;

        tr {
            th {

                &:first-child {
                    border-top-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                }
            }
        }
    }

    tfoot {
        background-color: rgba($primary, .15);

        tr {
            th {

                &:first-child {
                    border-bottom-left-radius: 10px;
                }

                &:last-child {
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
}